@model RoomRental.Models.Invoice

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Редактирование оплаты</h1>
    <div class="create-form-container">
        <form asp-action="Edit">
            <input type="hidden" asp-for="InvoiceId" />
@*             <label asp-for="RentalOrganizationId" class="control-label"></label> *@
            <select class="filter-input" asp-for="RentalOrganizationId" class="form-control" asp-items="ViewBag.RentalOrganizationId"></select>
            <span asp-validation-for="RentalOrganizationId" class="text-danger"></span>
@*             <label asp-for="RoomId" class="control-label"></label> *@
            <select class="filter-input" asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
            <span asp-validation-for="RoomId" class="text-danger"></span>
@*             <label asp-for="Amount" class="control-label"></label> *@
            <input class="filter-input" asp-for="Amount" class="form-control" placeholder="Сумма оплаты" />
            <span asp-validation-for="Amount" class="text-danger"></span>
            <input class="filter-input" asp-for="ConclusionDate" class="form-control" />
            <span asp-validation-for="ConclusionDate" class="text-danger"></span>
@*             <label asp-for="PaymentDate" class="control-label"></label> *@
            <input class="filter-input" asp-for="PaymentDate" class="form-control" />
            <span asp-validation-for="PaymentDate" class="text-danger"></span>
@*             <label asp-for="ResponsiblePersonId" class="control-label"></label> *@
            <select class="filter-input" asp-for="ResponsiblePersonId" class="form-control" asp-items="ViewBag.ResponsiblePerson"></select>
            <span asp-validation-for="ResponsiblePersonId" class="text-danger"></span>
            <div class="buttons">
                <a class="submitButton-index btn-primary" asp-action="Index">Возврат к списку</a>
                <input class="submitButton-index" type="submit" value="Изменить" />
            </div>
        </form>
    </div>
</div>

@* <h1>Edit</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InvoiceId" />
            <div class="form-group">
                <label asp-for="RentalOrganizationId" class="control-label"></label>
                <select asp-for="RentalOrganizationId" class="form-control" asp-items="ViewBag.RentalOrganizationId"></select>
                <span asp-validation-for="RentalOrganizationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" type="text" step="any" data-val="false" class="form-control" oninput="this.value = this.value.replace(/[^0-9,]/g, '')" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsiblePersonId" class="control-label"></label>
                <select asp-for="ResponsiblePersonId" class="form-control" asp-items="ViewBag.ResponsiblePerson"></select>
                <span asp-validation-for="ResponsiblePersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
